{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/footer.css' %}" type="text/css"/>
{% endblock %}

<footer>
    <div id="logout">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="red_btn small_btn"><span>Deconnexion</span></button>
        </form>
    </div>
    <div id="return">
        <button
            id="return_btn"
            class="wood_btn small_btn"
            onclick="window.location= window.location.origin + '/tableau-de-bord'">
            <span>&nbsp;&nbsp;Accueil</span>
        </button>
    </div>
</footer>
