<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static './res/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'style/style.css' %}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
    <script src="{% static 'scripts/jquery.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

    <div class="alert-box msg_card_buy">
        <span>Carte achetee !</span>
    </div>
    <div class="alert-box msg_card_sell">
        <span>Carte vendue !</span>
    </div>

    <div class="alert-box msg_deck_created">
        <span>Deck cree !</span>
    </div>
    <div class="alert-box msg_4_decks">
        <span>Vous possedez deja 4 decks !</span>
    </div>
    <div class="alert-box msg_deck_exists">
        <span>Le deck existe deja !</span>
    </div>

    <div class="alert-box msg_card_added">
        <span>Carte ajoutee !</span>
    </div>
    <div class="alert-box msg_twice_card">
        <span>Le deck possede deja 2 fois cette carte !</span>
    </div>
    <div class="alert-box msg_alone_card">
        <span>Vous ne possedez cette carte qu'une fois !</span>
    </div>
    <div class="alert-box msg_30_cards">
        <span>Le deck possede deja 30 cartes !</span>
    </div>

    <div class="alert-box msg_fail_img_deck">
        <span>Echec de la mise a jour de l'image !</span>
    </div>
    <div class="alert-box msg_img_deck">
        <span>Image du deck ajoutee !</span>
    </div>

    <div id="black_screen">
        <div class="alert-box">
            <img src="./../static/res/divers/hourglass.gif">
        </div>
    </div>

    {% block body %}

    {% endblock %}

    <script src="{% static 'scripts/index.js' %}"></script>

</body>
</html>