<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static './res/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'style/style.css' %}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
    <script src="{% static 'scripts/jquery.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

    <div class="alert-box msg_card_buy">Carte achetée !</div>
    <div class="alert-box msg_card_sell">Carte vendue !</div>

    <div class="alert-box msg_deck_created">Deck créé !</div>
    <div class="alert-box msg_4_decks">Vous possèdez déjà 4 decks !</div>
    <div class="alert-box msg_deck_exists">Le deck existe déjà !</div>

    <div class="alert-box msg_card_added">Carte ajoutée !</div>
    <div class="alert-box msg_twice_card">Le deck possède déjà 2 fois cette carte !</div>
    <div class="alert-box msg_alone_card">Vous ne possèdez cette carte qu'une fois !</div>
    <div class="alert-box msg_30_cards">Le deck possède déjà 30 cartes !</div>

    {% block body %}

    {% endblock %}

    <script src="{% static 'scripts/index.js' %}"></script>

</body>
</html>