<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css"/>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'files/style.css' %}" type="text/css"/>

    <title>Hearthstone Parody</title>
</head>
<body class="container is-fullhd">

    {% block body %}

    {% endblock %}

</body>
</html>