{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/account.css' %}" type="text/css"/>
    <title>Hearthstone - Mon compte</title>
{% endblock %}

{% block body %}

    {% include "header.html" %}

    <div class="container">

        <div class="panel_title">
            <div id="title_account" class="img_title"></div>
            <div class="title">
                <span class="frame_title">Mon compte</span>
                <span class="text_title">Mon compte</span>
            </div>
        </div>

        <div id="component_account" class="component">
            <form method="post">
                {% csrf_token %}

                {{ form_user.as_p }}

                <button
                    class="cladded_btn small_btn"
                    type="submit"
                    onclick="window.location= window.location.origin + '/connexion'">
                    <span>Valider</span>
                </button>
            </form>

            <form method="post">
                {% csrf_token %}

                {{ form_password.as_p }}

                <button
                    class="classical_btn small_btn"
                    type="submit"
                    onclick="window.location= window.location.origin + '/connexion'">
                    <span>Valider</span>
                </button>
            </form>
        </div>
    </div>

    {% include "footer.html" %}

{% endblock %}