{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/collection.css' %}" type="text/css"/>
    <title>Hearthstone - Collection</title>
{% endblock %}

{% block body %}

    {% include "header.html" %}

    <div class="container">

        <button class="gold_btn small_btn"
            id="deck_btn" onclick="window.location= window.location.origin + '/collection/deck'">
            <span>Deck</span>
        </button>

        <div class="panel_title">
            <div id="title_collection" class="img_title"></div>
            <div class="title">
                <span class="frame_title">Collection</span>
                <span class="text_title">Collection</span>
            </div>
        </div>

        <div id="component_collection" class="component">
            {% for card in cards_user %}

            <div class="card">
                <img src="{{ card.img }}">
                <form method="POST" id="form_sell">
                    <button class="studded_btn small_btn"
                        id="sell_btn"
                        value="{{ card.id }}"
                        type="submit">
                        <span>Vendre</span>
                    </button>
                </form>
            </div>

            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if cards_user.has_previous %}
                    <div><a href="?page={{ cards_user.previous_page_number }}"><</a></div>
                {% endif %}
                {% if cards_user.has_next %}
                    <div><a href="?page={{ cards_user.next_page_number }}">></a></div>
                {% endif %}
            </span>
        </div>
    </div>

    {% include "footer.html" %}

    <script type="text/javascript">
        $(document).on('submit', '#form_sell', function(e) {
            e.preventDefault()
            $.ajax({
                type: 'POST',
                url: '/collection/',
                data:{
                    id: $(this).find("#sell_btn").val(),
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
                },
                beforeSend: function() {
                    $('#black_screen').css('display', 'flex')
                },
                complete: function() {
                    $('#black_screen').css('display', 'none')
                },
                success:function(){
                    $( ".msg_card_sell" ).fadeIn( 300 ).delay( 1500 ).fadeOut( 400 );
                    location.reload()
                }
            })
        })
    </script>

{% endblock %}