{% extends 'index.html' %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'files/collection.css' %}" type="text/css"/>
<title>Hearthstone - Collection</title>
{% endblock %}

{% block body %}

    <h2 class="subtitle">Collection</h2>

    <a class="button is-info" href="/tableau-de-bord/">Tableau de bord</a>

    <!-- <form method="get">
        <input type="submit" class="button is-link is-rounded" value="Vendre" name="sale_btn">
    </form> -->

    <!-- <form method="get">
        <input type="submit" class="button is-link is-rounded" value="Vendre" name="sale_btn">
        <input type="submit" class="button is-info is-rounded" value="Échanger" name="exchange_btn">
    </form> -->

    <!-- <div class="collection_panel">

        {% for form in listforms %}

            <div class="frame_card">

                <form method="get">

                    {% csrf_token %}

                    <div class="card">
                        {{ form }}
                        <input type="submit" class="formCard" name="{{ form.id.value }}">
                    </div>

                </form>

            </div>

        {% endfor %}

    </div> -->


    <div class="collection_panel">

        <form method="get">

            {% for card in cardsUser %}

                <div class="frame_card">

                    <div class="card">

                        <p id="id_name">{{card.name}}</p>
                        <p id="id_cost">{{card.cost}}</p>
                        <p id="id_health">{{card.health}}</p>
                        <p id="id_attack">{{card.attack}}</p>
                        <p id="id_text">{{card.text}}</p>

                    </div>

                    <input type="checkbox" id="cardSelected" name="cardSelected" value="{{card.id}}">
                </div>

            {% endfor %}


            <input type="submit" class="button is-link is-rounded" value="Vendre" name="sale_btn">
            <input type="submit" class="button is-info is-rounded" value="Échanger" name="exchange_btn">
        </form>
    </div>



<script type="text/javascript">


document.onreadystatechange = function () {
  if (document.readyState == "complete") {
    formcards = document.getElementsByClassName('formCard')

    for(var i = 0 ; i < formcards.length ; i++ ) {

        formcards[i].addEventListener('click', function(event) {
            this.style.backgroundColor = 'red'
        })
    }
  }
}

</script>

{% endblock %}