{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/create-deck.css' %}" type="text/css"/>
    <title>Hearthstone - Création de Deck</title>
{% endblock %}

{% block body %}

    {% include "header.html" %}

    <div class="container">
        <div class="panel_title">
            <div id="title_deck" class="img_title"></div>
            <div class="title">
                <span class="frame_title">Creer un Deck</span>
                <span class="text_title">Creer un Deck</span>
            </div>
        </div>

        <div id="component_deck" class="component"></div>
    </div>

    {% include "footer.html" %}

    <!-- <h2 class="subtitle">Collection</h2>
    <p>Trésorerie : {{ user.profile.treasure }}</p>
    <a class="button is-info" href="/tableau-de-bord/">Tableau de bord</a>

    {% if messages %} {% for message in messages %}
        <div class="{{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %}

    <form method="get">
        <div>
            <button class="button is-link"
                id="create_deck"
                name="create_deck"
                value="create_deck"
                type="submit"
                disabled>
                Créer Deck
            </button>
            <label for="name_deck">Nom du Deck</label>
            <input type="text" name="name_deck" placeholder="Nom du Deck" value="Nom du Deck"/>
        </div>
        <div class="card_panel">
            {% for card in cards_user %}
                <div class="frame_card">
                    <div class="card">
                        <p id="id_name">{{card.name}}</p>
                        <p id="id_cost">{{card.cost}}</p>
                        <p id="id_health">{{card.health}}</p>
                        <p id="id_attack">{{card.attack}}</p>
                        <p id="id_text">{{card.text|striptags}}</p>
                    </div>
                    <input type="checkbox"
                        class="card_checkbox"
                        name="cards_selected"
                        value="{{card.id}}">
                </div>
            {% endfor %}
        </div>
    </form>

<script type="text/javascript">
    nbChecked = 0
    createBtn = document.getElementById('create_deck')
    array = document.getElementsByClassName('card_checkbox')
    for( i = 0 ; i < array.length ; i++ ){
        el = array[i]
        if (el.checked) {
            nbChecked += 1
        }
        if (nbChecked === 3) {
            createBtn.removeAttribute('disabled');
        } else {
            if (!createBtn.hasAttribute('disabled')) {
                createBtn.setAttribute('disabled', '');
            }
        }
        el.addEventListener('click', function() {
            if (nbChecked < 0) {
                nbChecked = 0
            }
            if (this.checked) {
                nbChecked += 1
            } else {
                nbChecked -= 1
            }
            if (nbChecked === 30) {
                return createBtn.removeAttribute('disabled');
            } else {
                if (!createBtn.hasAttribute('disabled')) {
                    return createBtn.setAttribute('disabled', '');
                }
            }
        })
    }
</script> -->

{% endblock %}