{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/exchange.css' %}" type="text/css"/>
    <title>Hearthstone - Échanger</title>
{% endblock %}

{% block body %}

    {% include "header.html" %}

    <div class="container">
        <div class="panel_title">
            <div id="title_exchange" class="img_title"></div>
            <div class="title">
                <span class="frame_title">Échanger</span>
                <span class="text_title">Échanger</span>
            </div>
        </div>

        <div id="component_exchange" class="component"></div>
    </div>

    {% include "footer.html" %}

<!--
    <h2 class="subtitle">Échanger</h2>
    <a class="button is-info" href="/tableau-de-bord/">Tableau de bord</a>

    <form>
        <select name="dropdown" id="dropdown">
                <option value="" selected disabled hidden>Choisir Utilisateur</option>
            {% for user in users %}
                <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <button class="button is-link is-rounded buy_btn" type="submit" name="seebtn" value="voir">Voir Collection</button>

        <button class="button is-link"
            id="card_btn"
            name="card_btn"
            value="card_btn"
            type="submit">
            Échanger Cartes
        </button>

        <div class="all_panels">
            <div class="panel_creator">
                {% for card in cards_creator %}
                    <div class="frame_card">
                        <div class="card">
                            <p id="id_name">{{card.name}}</p>
                            <p id="id_cost">{{card.cost}}</p>
                            <p id="id_health">{{card.health}}</p>
                            <p id="id_attack">{{card.attack}}</p>
                            <p id="id_text">{{card.text |striptags }}</p>
                        </div>
                        <input type="checkbox"
                            class="card_creator_checkbox"
                            name="cards_creator_selected"
                            value="{{card.id}}">
                    </div>
                {% endfor %}
            </div>

            <div class="panel_assignee">
                {% for card in cards_assignee %}
                    <div class="frame_card">
                        <div class="card">
                            <p id="id_name">{{card.name}}</p>
                            <p id="id_cost">{{card.cost}}</p>
                            <p id="id_health">{{card.health}}</p>
                            <p id="id_attack">{{card.attack}}</p>
                            <p id="id_text">{{card.text|striptags}}</p>
                        </div>
                        <input type="checkbox"
                            class="card_assignee_checkbox"
                            name="cards_assignee_selected"
                            value="{{card.id}}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>

    <script type="text/javascript">
        url = new URL(window.location.href)
        if (url.searchParams.get('dropdown') != null)
            document.getElementById('dropdown').value = url.searchParams.get("dropdown")
    </script> -->

{% endblock %}