{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/fight.css' %}" type="text/css"/>
    <title>Hearthstone - Combat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block body %}

    {% include "header.html" %}

    <div class="container">
        <div class="panel_title">
            <div id="title_fight" class="img_title"></div>
            <div class="title">
                <span class="frame_title">Combat</span>
                <span class="text_title">Combat</span>
            </div>
        </div>

        <div class="panel_fight">
            <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
            <input id="chat-message-input" type="text" size="100"/><br/>
            <input id="chat-message-submit" type="button" value="Send"/>
        </div>
    </div>

    {% include "footer.html" %}

    <script>
        var roomName = {{ room_name_json }};

        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + roomName + '/');

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            document.querySelector('#chat-log').value += (message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));

            messageInputDom.value = '';
        };
    </script>

{% endblock %}