{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/home.css' %}" type="text/css"/>
    <title>Hearthstone - Tableau de bord</title>
    <script src="{% static 'scripts/jquery.js' %}"></script>
{% endblock %}

{% block body %}

    {% include "header.html" %}

    <div class="container">
        <div class="panel_title panel_title_start">
            <div class="title title_start">
                <span class="frame_title">Tableau de Bord</span>
                <span class="text_title">Tableau de Bord</span>
            </div>
        </div>

        <div class="group_panel">
            <div id="panel_account"
                class="panel"
                onclick="window.location= window.location.origin + '/compte'">
                <button class="btn_panel cladded_btn small_btn"><span>Compte</span></button>
                <div class="img_panel">
                </div>
            </div>
            <div id="panel_shop"
                class="panel"
                onclick="window.location= window.location.origin + '/boutique'">
                <button class="btn_panel cladded_btn small_btn"><span>Boutique</span></button>
                <div class="img_panel">
                </div>
            </div>
            <div id="panel_collection"
                class="panel"
                onclick="window.location= window.location.origin + '/collection'">
                <button class="btn_panel cladded_btn small_btn"><span>Collection</span></button>
                <div class="img_panel">
                </div>
            </div>
            <div id="panel_users"
                class="panel"
                onclick="window.location= window.location.origin + '/utilisateurs'">
                <button class="btn_panel cladded_btn small_btn"><span>Utilisateurs</span></button>
                <div class="img_panel">
                </div>
            </div>
            <div id="panel_deck"
                class="panel"
                onclick="window.location= window.location.origin + '/creation-de-deck'">
                <button class="btn_panel cladded_btn small_btn"><span>Creer un Deck</span></button>
                <div class="img_panel">
                </div>
            </div>
            <div id="panel_exchange"
                class="panel"
                onclick="window.location= window.location.origin + '/echanger'">
                <button class="btn_panel cladded_btn small_btn"><span>Échanger</span></button>
                <div class="img_panel">
                </div>
            </div>
            <div id="panel_forum"
                class="panel"
                onclick="window.location= window.location.origin + '/forum'">
                <button class="btn_panel cladded_btn small_btn"><span>Forum</span></button>
                <div class="img_panel">
                </div>
            </div>
            <div id="panel_fight"
                class="panel"
                onclick="window.location= window.location.origin + '/preparation'">
                <button class="btn_panel cladded_btn small_btn"><span>Combat</span></button>
                <div class="img_panel">
                </div>
            </div>
        </div>

        {% if exchange_received_id %}
        <h2 class="subtitle">Proposition d'échange</h2>
            <div class="panel_exchange">
                {% for t in zipped %}
                <form>
                    <div class="panel_exchange_received" value="{{exchanges_received.id}}">
                        <div class="panel_exchange_users">
                            <div>{{ t.0 }}</div>
                            <div class="panel_cards">
                                {% for card_creator in t.1 %}
                                <div class="frame_card">
                                    <div class="card">
                                        <p id="id_name">{{card_creator.name}}</p>
                                        <p id="id_cost">{{card_creator.cost}}</p>
                                        <p id="id_health">{{card_creator.health}}</p>
                                        <p id="id_attack">{{card_creator.attack}}</p>
                                        <p id="id_text">{{card_creator.text |striptags }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="panel_exchange_users">
                            <div>{{ assignee }}</div>
                            <div class="panel_cards">
                                {% for card_assignee in t.2 %}
                                <div class="frame_card">
                                    <div class="card">
                                        <p id="id_name">{{card_assignee.name}}</p>
                                        <p id="id_cost">{{card_assignee.cost}}</p>
                                        <p id="id_health">{{card_assignee.health}}</p>
                                        <p id="id_attack">{{card_assignee.attack}}</p>
                                        <p id="id_text">{{card_assignee.text |striptags }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="panel_exchange_btn">
                        <button class="button is-success"
                            name="accept_btn"
                            value="{{t.3}}"
                            type="submit">
                            Accepter
                        </button>
                        <button class="button is-warning"
                            name="refuse_btn"
                            value="{{t.3}}"
                            type="submit">
                            Refuser
                        </button>
                    </div>
                </form>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% include "footer.html" %}

{% endblock %}