{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/password_reset.css' %}" type="text/css"/>
    <title>Hearthstone - Mot de passe</title>
    <script src="{% static 'scripts/jquery.js' %}"></script>
{% endblock %}

{% block body %}
    <form method="post" id="form_password_reset">
        {% csrf_token %}

        {{ form.as_p }}

        <button
            class="cladded_btn"
            type="submit"
            onclick="window.location= window.location.origin + '/connexion'">
            <span>Envoi email</span>
        </button>
    </form>

    <script>
        document.getElementById('form_password_reset').style.height = window.innerHeight + 'px'
    </script>
{% endblock %}