{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/register.css' %}" type="text/css"/>
    <title>Hearthstone - Inscription</title>
{% endblock %}

{% block body %}

    <div id="panel_register">
        <div class="panel_title panel_title_start">
            <div class="title title_start">
                <span class="frame_title"></span>
                <span class="text_title">Creation de compte</span>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}{{ message }}{% endif %}
                {% endfor %}
            {% endif %}

            <button class="cladded_btn" type="submit">
                <span>S'inscrire</span>
            </button>
        </form>

        <div id="return">
            <button
                id="return_btn"
                class="classical_btn small_btn"
                onclick="window.location= window.location.origin">
                <span>Accueil</span>
            </button>
        </div>
    </div>

{% endblock %}