{% extends 'index.html' %}

{% block head %}
    <title>Hearthstone - Boutique</title>
{% endblock %}

{% block body %}

    <h2 class="subtitle">Boutique</h2>

    <a class="button is-info" href="/tableau-de-bord/">Tableau de bord</a>

    {% for form in listforms %}

        <div class="card">

            <form method="post">
                {% csrf_token %}

                <p>{{ form }}</p>

                <button class="button is-link" type="submit">Acheter</button>
            </form>

        </div> <br />

    {% endfor %}


{% endblock %}