{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/shop.css' %}" type="text/css"/>
    <title>Hearthstone - Boutique</title>
{% endblock %}

{% block body %}

    {% include "header.html" %}

    <div class="container">
        <div class="panel_title">
            <div id="title_shop" class="img_title"></div>
            <div class="title">
                <span class="frame_title">Boutique</span>
                <span class="text_title">Boutique</span>
            </div>
        </div>

        <div id="component_shop" class="component">
            {% for card in cards %}

            <div class="card">
                <img src="{{ card.img }}">
                <form method="POST" id="form_buy">
                    <button class="studded_btn small_btn"
                        id="buy_btn"
                        value="{{ card.id }}"
                        type="submit">
                        <span>Acheter</span>
                    </button>
                </form>
            </div>

            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if cards.has_previous %}
                    <div><a href="?page={{ cards.previous_page_number }}"><</a></div>
                {% endif %}
                {% if cards.has_next %}
                    <div><a href="?page={{ cards.next_page_number }}">></a></div>
                {% endif %}
            </span>
        </div>
    </div>

    {% include "footer.html" %}

    <script type="text/javascript">
        $(document).on('submit', '#form_buy', function(e) {
            e.preventDefault()
            $.ajax({
                type: 'POST',
                url: '/boutique/',
                data:{
                    id: $(this).find("#buy_btn").val(),
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
                },
                beforeSend: function() {
                    $('#black_screen').css('display', 'flex')
                },
                complete: function() {
                    $('#black_screen').css('display', 'none')
                },
                success:function(){
                    $( ".msg_card_buy" ).fadeIn( 300 ).delay( 1500 ).fadeOut( 400 );
                    location.reload();
                }
            })
        })
    </script>

{% endblock %}