{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/shop.css' %}" type="text/css"/>
    <title>Hearthstone - Boutique</title>
{% endblock %}

{% block body %}

    {% include "header.html" %}

    <div class="container">
        <div class="panel_title">
            <div id="title_shop" class="img_title"></div>
            <div class="title">
                <span class="frame_title">Boutique</span>
                <span class="text_title">Boutique</span>
            </div>
        </div>

        <div id="component_shop" class="component">
            {% for card in cards %}

            <div class="card">
                <img src="{{ card.img }}">
                <form method="post">
                    <button class="studded_btn small_btn" value="{{ card.id}}">
                        <span>Acheter</span>
                    </button>
                </form>
            </div>

            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if cards.has_previous %}
                    <!-- <a href="?page=1">&laquo; first</a> -->
                    <a href="?page={{ cards.previous_page_number }}">previous</a>
                {% endif %}

                <!-- <span class="current">
                    {{ cards.number }} sur {{ cards.paginator.num_pages }}.
                </span> -->

                {% if cards.has_next %}
                    <a href="?page={{ cards.next_page_number }}">next</a>
                    <!-- <a href="?page={{ cards.paginator.num_pages }}">last &raquo;</a> -->
                {% endif %}
            </span>
        </div>
    </div>

    {% include "footer.html" %}

<!--
    <div class="deck_panel">
        {% for deck in decks_origin %}
            <form method="get">
                <div>
                    <div>{{ deck.name }}</div>
                    <div class="card"></div>
                    <div>Coût : {{ deck.cost }}</div>
                </div>
                <button class="button is-link"
                    name="deck_btn"
                    value="deck_{{deck.id}}">
                    Acheter
                </button>
            </form>
        {% endfor %}
    </div>

    <form>
        <button class="button is-link"
            id="card_btn"
            name="card_btn"
            value="card_btn"
            type="submit">
            Acheter Cartes
        </button>
        <div class="card_panel">
        {% for card in cards_origin %}
            <div class="frame_card">
                <div class="card">
                    <p id="id_name">{{card.name}}</p>
                    <p id="id_cost">{{card.cost}}</p>
                    <p id="id_health">{{card.health}}</p>
                    <p id="id_attack">{{card.attack}}</p>
                    <p id="id_text">{{card.text |striptags }}</p>
                </div>
                <input type="checkbox"
                    class="card_checkbox"
                    name="cards_selected"
                    value="{{card.id}}">
            </div>
        {% endfor %}
        </div>
    </form> -->

{% endblock %}