{% extends 'index.html' %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style/welcome.css' %}" type="text/css"/>
    <title>Hearthstone - Bienvenue</title>
{% endblock %}

{% block body %}

    <div id="panel_welcome">

        <div class="panel_title panel_title_start">
            <div class="title title_start">
                <span class="frame_title">Bienvenue sur Heartstone</span>
                <span class="text_title">Bienvenue sur Heartstone</span>
            </div>
        </div>

        <div class="group_btn">
            <button class="cladded_btn"
                onclick="window.location= window.location.origin + '/connexion'">
                <span>Se connecter</span>
            </button>
            <button
                class="cladded_btn"
                onclick="window.location= window.location.origin + '/inscription'">
                <span>S'inscrire</span>
            </button>
        </div>

    </div>

{% endblock %}