#title_deck:before {
    background-image: url('./../res/titles/title_deck.png');
}

#panel_deck {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;
    position: fixed;
    top: 20%;
    left: 0;
    transition: all ease-in-out 0.2s;
}

#deck {
    position: relative;
    width: 205px;
    height: 310px;
    background-color: purple;
}

#panel_deck input {
    pointer-events: auto;
    margin-bottom: 10px;
}

#img_deck {
    height: 100%;
    width: 100%;
    background-color: green;
}

#save_deck {
    position: absolute;
    bottom: 10px;
    left: 30px;
    height: 50px;
    width: 50px;
    background-color: blue;
    cursor: pointer;
}

#nb_card {
    position: absolute;
    bottom: 10px;
    right: 30px;
    height: 50px;
    width: 50px;
    background-color: red;
}
