#title_fight:before {
    background-image: url('./../res/titles/title_fight.png');
}

.panel_fight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 650px;
}

#chat-message-submit {
    cursor: pointer;
}