#title_forum:before {
    background-image: url('./../res/titles/title_forum.png');
}

.component {
    flex-direction: column;
    justify-content: flex-start;
}

form {
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.panel_post {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.panel_post_header {
    margin-bottom: 20px;
}

.panel_post_header div {
    text-align: center;
}

.panel_post_header div:nth-child(1) {
    font-size: 18px;
    font-family: hearthstone_font;
	background: -webkit-linear-gradient(#eee, #999);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.panel_post_content {
    font-size: 15px;
}
