.panel_title_start {
    margin-top: 25px;
}

#panel_account:before {
    background-image: url('./../res/panels/panel_account.png');
}

#panel_shop:before {
    background-image: url('./../res/panels/panel_shop.png');
}

#panel_collection:before {
    background-image: url('./../res/panels/panel_collection.png');
}

#panel_users:before {
    background-image: url('./../res/panels/panel_users.png');
}

#panel_account:before {
    background-image: url('./../res/panels/panel_account.png');
}


#panel_deck:before {
    background-image: url('./../res/panels/panel_deck.png');
}


#panel_exchange:before {
    background-image: url('./../res/panels/panel_exchange.png');
}


#panel_forum:before {
    background-image: url('./../res/panels/panel_forum.png');
}


#panel_fight:before {
    background-image: url('./../res/panels/panel_fight.png');
}

#form_exchange {
    margin:0;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
    height: 1200px;
    display: flex;
    position: absolute;
    overflow-y: hidden;
    justify-content: flex-start;
    background-color: rgba(0,0,0,0.9);
}

#form_exchange > div {
    width: 100%;
}

.panel_exchanges {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
}

.panel_exchange {
    width: 50%;
}

.user_exchange {
    margin-top: 40px;
    margin-bottom: 20px;
    user-select: none;
	padding: 5px;
	font-family: hearthstone_font;
	background: -webkit-linear-gradient(#eee, #999);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-align: center;
}

.panel_cards {
    max-height: 600px;
    overflow-y: overlay;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel_exchange_btn {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.panel_exchange_btn button:nth-child(1) {
    margin-right: 15px;
}

.panel_exchange_btn button:nth-child(2) {
    margin-left: 15px;
}
