.panel_title_start {
    margin-top: 25px;
}

#panel_account:before {
    background-image: url('./../res/panels/panel_account.png');
}

#panel_shop:before {
    background-image: url('./../res/panels/panel_shop.png');
}

#panel_collection:before {
    background-image: url('./../res/panels/panel_collection.png');
}

#panel_users:before {
    background-image: url('./../res/panels/panel_users.png');
}

#panel_account:before {
    background-image: url('./../res/panels/panel_account.png');
}


#panel_deck:before {
    background-image: url('./../res/panels/panel_deck.png');
}


#panel_exchange:before {
    background-image: url('./../res/panels/panel_exchange.png');
}


#panel_forum:before {
    background-image: url('./../res/panels/panel_forum.png');
}


#panel_fight:before {
    background-image: url('./../res/panels/panel_fight.png');
}