.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#panel_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#password_reset {
    color: #41291a;
    margin-bottom: 15px;
}